* {
  margin: 0;
  font-family: Rubik;
}


h2 {
  margin: 0;
}

.App {
  background-color: #a3b39f;
  min-height: 100vh;
  padding: 65px 55px 95px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 65px 55px 95px;
  min-height: 100vh;
  border-radius: 68px;
  background-color: #fff;
}









